.headline {
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--blue-color);
    margin-bottom: 1rem;
}

.title {
    font-weight: 700;
    font-size: 32px;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.lightButton {
    padding: 1rem;
    font-size: 20px;
    border: 0.5px solid #00000029;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
}

/* Responsive Purposes */
@media (max-width: 768px) {
    .description {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0px;
    }

    .lightButton {
        font-size: 14px;
    }
}