.icon {
  width: 32px;
  height: 32px;
  color: #666666;
  transition: color 0.3s ease;
}

.iconWrapper {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeBorderSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index: 1;
  pointer-events: none;
}

.animatedCircle {
  stroke-dasharray: 147.5; /* ~2Ï€ * 23.5 */
  stroke-dashoffset: -147.5;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.animateIn {
  stroke-dashoffset: -147.5;
  animation: drawIn 0.6s ease-in-out forwards;
}

.animateOut {
  stroke-dashoffset: 0;
  animation: drawOut 0.6s ease-in-out forwards;
}

@keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawOut {
  to {
    stroke-dashoffset: -147.5;
  }
}

.activeIcon {
  color: #007aff;
}

.tab {
  display: inline-flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 0.5rem; 
  padding: 1rem 0.75rem;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s ease;
  border-right: 1px solid #00000014;
  min-width: 200px;
  box-shadow: inset 0 0 0 0 transparent;
}

.tab:last-child {
  border-right: none;
}

.active {
  background-color: #e8f1ff;
}

.label {
  font-weight: 500;
  color: var(--black-color);
  text-align: center;
}

@media (min-width: 768px) {
  .tabContainer {
    overflow-x: hidden;
  }

  .tab:hover {
    box-shadow: inset 0 0 0 3px #007aff;
  }

  .tab {
    flex: 1;
    min-width: 0;
    display: flex;
  }
}