.image {
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  bottom: 0;
}

.fileType {
  position: absolute;
  transform-origin: center;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.popOut {
  position: absolute;
  opacity: 0;
  transform-origin: center;
}

.popOut1 {
  top: -30vh;
  left: 5vw;
}

.popOut2 {
  top: -20vh;
  right: 3vw;
}

.phone_bar_1 {
  bottom: 2vh;
  left: -2vh;
}

.phone_bar_2 {
  bottom: 2vh;
  right: -2vh;
}

.filePreview {
  width: 0;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
}

.imageWithPopUp {
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  bottom: 0;
}